.container {
    max-width: 1100px;
    margin: 0 auto;
    align-content: center;
    display: flex;
}
.container .triangle-container {
    fill: transparent;
    stroke: green;
    stroke-width: 8;
    transform-origin: 250px 250px;
    animation: triangle 2.5s ease-in-out infinite;
}
.container .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid red;
    animation: circle 2.5s ease-in-out infinite;
}
.container .x {
    color: #0072ce;
    font-family: sans-serif;
    font-size: 210px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    animation: x 2.5s ease-in-out infinite;
}
.container .square {
    width: 150px;
    height: 150px;
    border: 10px solid #FF69B4;
    animation: square 2.5s ease-in-out infinite;
}
@keyframes circle {
    0% {
        border-color: red;
        transform: scale(1);
    }

    25% {
        border-color: red;
        transform: scale(0.8);
    }

    50% {
        border-color: red;
        transform: scale(1.15);
    }

    75% {
        border-color: red;
        transform: scale(0.7);
    }

    100% {
        border-color: red;
        transform: scale(1);
    }
}
@keyframes square {
    0% {
        border-color: #FF69B4;
        transform: scale(1);
    }

    25% {
        border-color: #FF69B4;
        transform: scale(0.8);
    }

    50% {
        border-color: #FF69B4;
        transform: scale(1.15);
    }

    75% {
        border-color: #FF69B4;
        transform: scale(0.7);
    }

    100% {
        border-color: #FF69B4;
        transform: scale(1);
    }
}
@keyframes x {
    0% {
        border-color: #0072ce;
        transform: scale(1);
    }

    25% {
        border-color: #0072ce;
        transform: scale(0.8);
    }

    50% {
        border-color: #0072ce;
        transform: scale(1.15);
    }

    75% {
        border-color: #0072ce;
        transform: scale(0.7);
    }

    100% {
        border-color: #0072ce;
        transform: scale(1);
    }
}
@keyframes triangle {
    0% {
        border-color: green;
        transform: scale(1);
    }

    25% {
        border-color: green;
        transform: scale(0.8);
    }

    50% {
        border-color: green;
        transform: scale(1.15);
    }

    75% {
        border-color: green;
        transform: scale(0.7);
    }

    100% {
        border-color: green;
        transform: scale(1);
    }
}